*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
  height: 50%; 
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}


.swiper-slide > img { 
  width: 80%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

.pagination_{
  position: absolute;
  width: calc(100% - 10%);
}
.pagination_ div[class^='swiper-button']::after{
  display: none;
}

.pagination_ div[class^='swiper-button']{
  width: 45px;
  height: 45px;
  border: 1px solid rgb(75 , 75 , 75);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.pagination_ div[class^='swiper-button'] img{
  width: 60%;
}